# ======================
# Node
# ======================
node_modules/
**/node_modules/

# ======================
# Environment variables
# ======================
.env
**/.env

# ======================
# React build
# ======================
build/
client/build/

# ======================
# Logs
# ======================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# OS
# ======================
.DS_Store